@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=PT+Serif:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 2.2vmin;
    font-family: 'Noto Sans', sans-serif;
    text-transform: capitalize;
}
i{
    font-style: 48px;
}
.flex_center_center_column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
li {
    list-style: none;
    cursor: pointer;
}
body,html{
    max-width: 100%;
}
nav{
    color: rgb(110, 110, 110);
    width: 100%;
    height: 8%;
    font-weight: 600;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 3.5rem;
}
.active{
    color: rgb(0, 138, 0);
}
.menus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menus li{
    margin: 1.5rem;
}
.menus li:hover{
    color: rgb(0, 138, 0);
}
.img__box{
    overflow-x: hidden;
}
.image{
    width: 100vw;
}

.text__box{
    position: absolute;
    top: 27vw;
    width: 100%;
    height: 12vw;
    background: rgba(211, 211, 211, 0.363);
    display: flex;
    justify-content: center;
    align-items: center;
}

.text__inside{
    position: relative;
    text-align: center;
    background: rgba(211, 211, 211, 0.600);
    width: 50vw;
    height: 100%;
}

.aside__header{
    font-size: 3.5vw;
    font-weight: bold;
    margin-bottom: 1vw;
}
.aside__text{
    font-size: 1.5vw;
}

.main__text__box{
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 8%;
}

.first__header{
    margin-bottom: 3%;
    font-size: 2.8vw;
}

.para__box{
    width: 95%;
    margin: auto;
}

.para{
    font-size: 2vmin;
    line-height: 1.7rem;
    color: rgb(83, 83, 83);
}
@media(max-width:425px){
    .para{
        font-size: 2.5vmin;
    }
}

@media(max-width:828px){
    .first__header{
        font-size: 3.2vw;
    }
}
@media(max-width:700px){
    .first__header{
        font-size: 3.5vw;
    }
}
@media(max-width:620px){
    .first__header{
        font-size: 3.8vw;
    }
}
@media(max-width:540px){
    .first__header{
        font-size: 4vw;
    }
}
@media(max-width:425px){
    .first__header{
        font-size: 4.5vw;
    }
}
@media(max-width:320px){
    .first__header{
        font-size: 5vw;
    }
}

@media (max-width:950px){
    .menus li{
        margin: 0.5rem;
    }
    .container{
        margin: 0.5rem 1.5rem;
    }
}
@media(max-width:700px){
    .menus{
        display: none;
    }
}
@media(min-width:700px){
    .menu__logo{
        display: none;
    }
}
@media(max-width:600px){
    .text__inside{
        width: 55vw;
    }
}
@media(max-width:480px){
    .text__box{
        display: none;
    }
}
@media(max-width:768px){
    .aside__header{
        font-size: 4vw;
        margin-bottom: 1vw;
    }
    .aside__text{
        font-size: 1.8vw;
    }
}
@media (max-width:600px){
    .aside__text{
        font-size: 2vw;
    }
}

.card__container{
    width: 90%;
    margin: auto;
    margin-top: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    margin: 5px;
    flex-basis: calc(25% - 20px);
    background: rgb(240, 240, 240);
    position: relative;
    border: 1px solid rgb(220, 220, 220);
}
@media(max-width:570px){
    .card{
        flex-basis: calc(100% - 10px);
    }
}

.back{
    position: relative;
    background: #ed5441;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg1{
    background: #D867B2;
}

.bg2{
    background: #4BC567;
}

.bg3{
    background: #26AFF0;
}

.fas{
    color: white;
    font-size: 5rem;
}

.text__area{
    text-align: left;
    margin: auto;
    margin:10px;
    width: 80%;
}
.text__area h1{
    margin-bottom: 15px;
    font-size: 1.8vw;
    font-size: bold;
    z-index: inherit;
}
.text__area p{
    width: 100%;
    font-size: 1vw;
    color: rgb(63, 63, 63);
    line-height: 2vw;
}
@media (max-width:1000px){
    .text__area p{
        font-size: 1.3vw;
    }
}

@media (max-width:850px){
    .text__area p{
        font-size: 1.4vw;
    }
}
@media (max-width:640px){
    .text__area p{
        font-size: 1.8vw;
    }
    .text__area h1{
        font-size: 2.5vw;
    }
}

@media (max-width:500px){
    .text__area p{
        font-size: 2.2vw;
    }
    .text__area h1{
        font-size: 3.5vw;
    }
}

@media (max-width:430px){
    .text__area p{
        font-size: 2.5vw;
        line-height: 4vw;
    }
}
@media (max-width:370px){
    .text__area p{
        font-size: 2.5vw;
        line-height: 4vw;
    }
}

@media (max-width:300px){
    .text__area p{
        font-size: 3.5vw;
        line-height: 5vw;
    }
}

.quote__container{
    margin: 5rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 6vw 4vw;
    background: #EFEFEF;
}

.quote{
    width: 80%;
    margin-bottom: 5vw;
    font-size: 3vmin;
    text-align: center;
}

.by{
    font-size: 2.5vmin;
    font-weight: bolder;
}

.offer__container{
    width: 80%;
    margin: auto;
    text-align: center;
}

.offer__container h2{
    font-size: 5vmin;
    margin-bottom: 2vw;
}

.offer__container p{
    font-size: 2vmin;
    line-height: 3.5vmin;
    margin-bottom: 2vw;
}

@media (max-width:425px){
    .offer__container p{
        font-size: 2.5vmin;
    }
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
}

.offer__card{
    background: rgb(212, 0, 0);
    width: 100%;
}