@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=PT+Serif:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;

}
i{
    font-style: 48px;
}
.flex_center_center_column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
li {
    list-style: none;
    cursor: pointer;
}
body,html{
    max-width: 100%;
}
nav{
    color: rgb(110, 110, 110);
    width: 100%;
    height: 8%;
    font-weight: 600;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 3.5rem;
}
.active{
    color: rgb(0, 138, 0);
}
.menus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menus li{
    margin: 1.5rem;
}
.menus li:hover{
    color: rgb(0, 138, 0);
}
.img__box{
    overflow-x: hidden;
}
.image{
    width: 100vw;
}

.text__box{
    position: absolute;
    top: 27vw;
    width: 100%;
    height: 12vw;
    background: rgba(211, 211, 211, 0.363);
    display: flex;
    justify-content: center;
    align-items: center;
}

.text__inside{
    position: relative;
    text-align: center;
    background: rgba(211, 211, 211, 0.600);
    width: 50vw;
    height: 100%;
}

.aside__header{
    font-size: 3.5vw;
    font-weight: bold;
    margin-bottom: 1vw;
}
.aside__text{
    font-size: 1.5vw;
}

.main__text__box{
    width: 90%;
    height: 12vw;
    margin: auto;
    text-align: center;
    margin-top: 8%;
}

.first__header{
    margin-bottom: 3%;
    font-size: 2.8vw;
}

.para__box{
    width: 95%;
    margin: auto;
}

.para{
    font-size: 1rem;
    line-height: 1.7rem;
    color: rgb(83, 83, 83);
}

@media(max-width:828px){
    .first__header{
        font-size: 3.2vw;
    }
}
@media(max-width:700px){
    .first__header{
        font-size: 3.5vw;
    }
}
@media(max-width:620px){
    .first__header{
        font-size: 3.8vw;
    }
}
@media(max-width:540px){
    .first__header{
        font-size: 4vw;
    }
}

@media(max-width:890px){
    .para{
        font-size: 0.93rem;
        line-height: 1.3rem;
    }
}
@media(max-width:500px){
    .para{
        font-size: 0.83rem;
    }
}

@media (max-width:950px){
    .menus li{
        margin: 0.5rem;
    }
    .container{
        margin: 0.5rem 1.5rem;
    }
}
@media(max-width:700px){
    .menus{
        display: none;
    }
}
@media(min-width:700px){
    .menu__logo{
        display: none;
    }
}
@media(max-width:600px){
    .text__inside{
        width: 55vw;
    }
}
@media(max-width:480px){
    .text__box{
        display: none;
    }
}
@media(max-width:768px){
    .aside__header{
        font-size: 4vw;
        margin-bottom: 1vw;
    }
    .aside__text{
        font-size: 1.8vw;
    }
}
@media (max-width:600px){
    .aside__text{
        font-size: 2vw;
    }
}

.card__container{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.back{
    background: rgb(255, 37, 37);
    width: 20vw;
    height: 20vw;
}